.body {
  background-color: antiquewhite;
}
.container {
  font-size: 30px;
  display: flex;
  justify-content: space-around;
  width: 90vh;
  width: 100%;
  background-color: antiquewhite;
}
.card {
  width: 10%;
  height: 20%;
  border: 3px solid red;
  flex-grow: 2;
  padding: 5vh;
}
.card-img {
  width: 50%;
  height: 50%;
}
.titles {
  text-transform: uppercase;
}
.card-desc {
  font-size: 20px;

}
