.body {
  margin: 0;
  box-sizing: border-box;
}
.container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  background-image: url(img/Garage.jpg);
  background-size: cover;
  flex-wrap: wrap;
}
.card {
  width: 28%;
  height: 15vh;
  padding: 10vh;
  padding-bottom: 15vh;
  margin: 5vh;
  text-align: center;
  background-color: rgb(170, 170, 170);
  display: flex;
  flex-direction: column;
  align-items: center;
  vertical-align: middle;
  justify-content: space-around;
  box-shadow: 15px 15px;
}
@media screen and (min-width: 768px) {
  .card {
    width: 40%;
  }
}
@media screen and (min-width: 1080px) {
  .card {
    width: 10%;
  }
}
.card-img {
  width: 100%;
  height: 70%;
}
.titles {
  text-transform: uppercase;
}
.card-desc {
  font-size: 20px;
  font-family: 'DM Serif Display', serif;
}
.card:hover {
  color: aqua;
  
}
