html,
body,
* {
    font-size: 10px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.parent {
font-size: 30px;
display: flex;
justify-content: space-between;
width: 80vw;
}
.child {
    font-size: 2.2rem;
    border: 1px solid cyan;
    width: 28%;
}
.child-1 {
    border: 1px solid green;
}
.child-2 {
    border: 1px solid yellow;
}
.child-3 {
    border: 1px solid blue;
}