.body {
  margin: 0;
  box-sizing: border-box;
}
.container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  background-image: url(img/Garage.jpg);
  background-size: cover;
}
.card {
  width: 28%;
  height: 15vh;
  padding: 8vh;
  padding-bottom: 15vh;
  margin: 5vh;
  text-align: center;
  background-color: rgb(170, 170, 170);
  display: flex;
  flex-direction: column;
  align-items: center;
  vertical-align: middle;
  justify-content: space-around;
  box-shadow: 15px 15px;
  border-radius: 1cm;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  position: relative;
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}
@media screen and (min-width: 768px) {
  .card {
    width: 40%;
  }
}
@media screen and (min-width: 1080px) {
  .card {
    width: 10%;
  }
}
.card-img {
  width: 100%;
  height: 100%;
}
.titles {
  text-transform: uppercase;
}
.card-desc {
  font-size: 20px;
  font-family: "DM Serif Display", serif;
}
/* Pop*/
@-webkit-keyframes hvr-pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}
@keyframes hvr-pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}
.card:hover,
.card:focus,
.card:active {
  -webkit-animation-name: hvr-pop;
  animation-name: hvr-pop;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
/* Fade */
.card:hover,
.card:focus,
.card:active {
  background-color: #2098d1;
  color: white;
}
/* Glow */
.card:hover, .card:focus, .card:active {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}
/* Underline from center */
.card:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: #ff0000;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.card:hover:before, .card:focus:before, .card:active:before {
  left: 0;
  right: 0;
}
.card-img:hover {
  transform: scale(1.1);
  outline: 1rem solid gray;
  z-index: 4;
}
.card:hover .card-img:not(:hover) {
transform: scale(0.5);
opacity: 0.3;
}
.animation {
height: 2rem;
width: 100%;
animation: switch 4s infinite;
position: absolute;
}
@keyframes switch {
  0% {
background-color: #ff0000;
  }
  25% {
background-color: cyan;
  }
  50% {
background-color: aquamarine;
  }
  75% {
background-color: darkorange;
  }
  100% {
background-color: gold;
  }
}