.container {
  font-size: 30px;
  display: flex;
  justify-content: space-between;
  width: 50vw;
  align-items: center;
  width: 60%;
  background-color: antiquewhite;
}
.card {
  width: 20%;
  height: 40%;
  border: 3px solid red;
  
}
.card-img {
  width: 10%;
  height: 10%;
}
.titles {
  text-transform: uppercase;
}
.card-desc {
  font-size: 20px;

}
