html,
body,
* {
    font-size: 10px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.flux-container {
font-size: 30px;
display: flex;
justify-content: space-between;
width: 100vw;
align-items: center;
}
.section {
    font-size: 2.2rem;
    border: 1px solid cyan;
    width: 28%;
}
.sec-1 {
    border: 3px solid green;
    height: 800px;
}
.sec-2 {
    border: 3px solid yellow;
    height: 800px;
}
.sec-3 {
    border: 3px solid blue;
    height: 800px;
}