.flux-container {
  font-size: 30px;
  display: flex;
  justify-content: space-between;
  width: 100vw;
  align-items: center;
}
.left-column {
  border: 3px solid green;
  text-align: center;
  width: 60%;
  height: 80%;
}
.middle-column {
  border: 3px solid yellow;
  text-align: center;
  width: 60%;
  height: 80%;
}
.right-column {
  border: 3px solid blue;
  text-align: center;
  width: 60%;
  height: 80%;
}
.card-img {
  width: 90%;
  height: 40%;
}
.titles {
  text-transform: uppercase;
}
.card-desc {
    font-size: 20px;
}
