body {
    font-size: 10px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.card {
    width: 27vw;
    height: 35vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: antiquewhite;
}.card-title {
    font-size: 2.2rem;
    text-transform: uppercase;
}
.card-img {
    width: 80%;
}
.card-desc {
    font-size: 1.3rem;
}