.body {
  margin: 0;
  box-sizing: border-box;
}
.container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  background-image: url(img/Garage.jpg);
  background-size: cover;
  flex-wrap: wrap;
}
.card {
  width: 25vh;
  height: 25vh;
  padding: 10vh;
  padding-bottom: 20vh;
  margin: 5vh;
  text-align: center;
  background-color: rgb(170, 170, 170);
  display: flex;
  flex-direction: column;
  align-items: center;
  vertical-align: middle;
  justify-content: space-around;
  box-shadow: 30px 30px;
}
.card-img {
  width: 100%;
  height: 70%;
}
.titles {
  text-transform: uppercase;
}
.card-desc {
  font-size: 35px;
  font-family: 'DM Serif Display', serif;
}
